# .NET
backend/**/bin/
backend/**/obj/
backend/**/*.user
backend/src/**/*.Development.json

# Node / Angular
frontend/node_modules/
frontend/dist/
frontend/.angular/cache/

# IDE
.idea/
.vscode/
*.suo
*.user

# OS
.DS_Store
Thumbs.db
